/*global.scss. 

all the global variables are defined here*/



//All the shades of gray

$gray-1: #191919;
$gray-2: #323232;
$gray-3: #4c4c4c; 
$gray-4: #666666;
$gray-5: #7f7f7f;
$gray-6: #999999;
$gray-7: #b2b2b2;
$gray-8: #cccccc;
$gray-9: #e5e5e5;
$gray-10: #eaeaea;
$gray-11: #f7f7f7;


$home-page-container-width: 960px;
$project-page-container-width: 720px;
$grid-padding: 0px;
$grid-height: 360px;

$header-background: #433C4C;
$header-padding-right: 90px;

$branding-blue: #7ba8ff; /*#5893FF;*/
$branding-red: #ff9181; /*#FF7360;*/

$gradient-border-height-px: 10px;

$work-quote: #b9b2c2;


// Mixins

@mixin container {
  margin: 0 auto;
  width: $home-page-container-width;

  &:after {
  	content: "";
  	display: table;
  	clear: both;
  }
}

@mixin smaller-container {
  margin: 0 auto;
  width: $project-page-container-width;

  &:after {
  	content: "";
  	display: table;
  	clear: both;
  }
}


@mixin clearfix{

	&:after{
		content: "";
		display: table;
		clear: both;
	 }
}

