/*_media-queries.scss

mobile styles!
*/





/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 


    // General and Homepage media queries
    body, html, li {
        font-size: 15px;
        -webkit-text-size-adjust:none;
        max-width: 100%;

        h1 {
            font-size: 15px;
        }

        .project-overall {
            min-width: inherit;
        }
        section, .project-overall a {
            width: 100%;
            display: block;
            margin: 0;
            padding-top: 0;
        }


        header {
            min-height: 50vh;
        }
    }

    .project-outer-container {
        width: 100%;
        min-width: inherit;

        .project-inner-container, .project-inner-container.reverse-order  {
            width: 100%;
            flex-direction: column;
        }

        .project-inner-container {
            .logo {
                height: 3.5em;
                margin-top: 1.5em;
            }
        }
    }

    [class*='col-'] {
        width: 100%;
        float: none;
        padding: 0vh 1em 1em $left-space;
        height: auto;
        min-height: 55vh;
    }

    .splash {
        background-size: 100%;
    }

    // Media Queries for resume section
    .resume-section {
        padding-top: 8vh;

        h1 {
            padding-left: $left-space;
            font-size: 3vh;
            margin-bottom: $left-space;
        }

        .download-button {
            margin-left: $left-space;
        }

        .resume-content-container {
            padding-left: $left-space;
            display: block;
            .resume-content {
                display: block;
            }
        }
    }
    // Media Queries for contact section
    section .contact-content {
        width: 100%;
        .contact-label ul li {
            width: 100%;
            padding: 0;
        }
    }

    // Media Queries for work detail pages
    section.work-container {
        width: 100%;
        padding-left: $left-space;
        padding-right: $left-space;
        box-sizing: border-box;
        
        h1, h2, .work-content {
            line-height: 1.5;
            font-size: 24px;
        }

        h1 {
            font-size: 18px;
        }

        .header-menu {
            justify-content: center;
        }

        .arrow {
            top: 0;
            bottom: auto;
        }

        .caption {
            font-size: 14px;
        }

    }

    // Login Page media queries
    
    .login-page {
        .login-container {
           width: 36vh;
           max-height: 36vh;
        }

    }

}