/*_project-section.scss

style of the project section on the home page
*/

.projects {
	@include clearfix;
	width: 100%;
	opacity: 1;
	transition: all 0.2s ease-in-out;
	&.hide {
		opacity: 0;
	}
}


.project-overall {

	@include clearfix;
	position: relative;
	margin-bottom: 100px;
	a {
		@include clearfix;
		display: block;
		opacity: 1;
		transform: translate(0,0);
		transition: all 0.2s ease-out;
		border: 1px solid white;
		&:hover {
			box-shadow: 1px 1px 5px rgba(0,0,0,.20);
			opacity: 0.9;
		}

	}
}

.project-description-container {
	background-color: $gray-11;
	padding: 40px;
	transition: all 0.2s ease-out;

	.project-description-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		h2, .line-container, description {
			flex: 1;
		}

		h2{
			font-weight: bold;
			color: $gray-6;
		}
	}

	.project-button-container {
		margin-top: 10px;
		.project-button {
			display: inline-block;
			padding: 4px 15px;
			background-color: $branding-blue;
			border-radius: 4px;
			color: white;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 10px;
			border: 1px solid $gray-11;
		}

	}
}

.splash {
	background-size: cover;
	position: relative;
	transition: all 0.2s ease-out;
}

.ch-mobile {
	background-image: url(../images/android-portrait.png);
}

.stockpile {
	background-image: url(../images/stockpile-homepage-design-3.png);
}

.grace-hopper {
	background-image: url(../images/ghc-2.jpg);
}

.pharmacy {
	background-image: url(../images/pharmacy-v2-mockups-2.png);
	background-color: $gray-11;
}

.consulting {
	background-image: url(../images/postgrad.jpg);
}

.ecotouch {
	background-image: url(../images/ecotouch-leaf.jpg);
}

.tamagotchi {
	background-image: url(../images/tamagotchi.png);
}

.tsa {
	background-image: url(../images/booth.jpg);
}

.context {
	background-image: url(../images/context-mockup1.png);
	background-position: 50% 23%;
}

.description {
	width: 92%;
	color: $gray-5;
	line-height: 2;
}


.page-menu {
	width: $home-page-container-width;
	text-transform: uppercase;
	letter-spacing: 3px;
	@include clearfix;
	a, a:visited, a:link {
		border-bottom: 1px solid transparent;
		background-color: #f0eef1;
		padding: 6px 10px;
		&:hover {
			color: $gray-5;
			transition: all 0.1s ease-in-out;
		}
	}


	ul {
		float: right;
		display: block;
		li{
			display: inline-block;
			margin-left: 30px;
		}
	}



}

.line-container {
	@include clearfix;
	margin-bottom: 30px;

	.line {
		width: 88%;
		height: 1px;
		background: linear-gradient(to right,#7ba8ff,#ff9181);
		float: left;
	}
}

.line-decor {
	border-bottom: 1px solid $gray-6;
	width: 10%;
}
