/*_project-section.scss

style of the project section on the home page
*/
section.project-container {
	width: 100%;
}
.projects {
	@include clearfix;
	opacity: 1;
	transition: all 0.2s ease-in-out;
	width: 100%;
	&.hide {
		opacity: 0;
	}
	&.alternate-style {
		background-color: white;


		.project-description-container h2 {
			color: $gray-5;
		}
	}
}


.project-overall {
	@include clearfix;
	position: relative;
	min-width: $home-page-project-container-width;
	a {
		@include clearfix;
		width: $home-page-project-container-width;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		opacity: 1;
		transform: translate(0,0);
		transition: all 0.2s ease-out;
		&:hover {
			opacity: 0.9;
			.project-description-container {
				transform: translateX(-5px);
			}

			&.reverse-order .project-description-container {
				transform: translateX(5px);
			}

		}

		&.reverse-order {
			flex-direction: row-reverse;
		}

	}

}

.project-description-container {
	transition: all 0.2s ease-out;
	display: flex;

	.project-description-content {
		display: flex;
		flex-direction: column;
		justify-content: center;		

		h2 {
			font-weight: bold;
			color: $gray-5;
			font-size: 30px;
		}

		.logo {
			height: 10%;
			margin-bottom: 20px;
		}

	}

}

.splash {
	background-size: 85%;
	background-repeat: no-repeat;
	position: relative;
	transition: all 0.2s ease-out;
}

.ch-mobile {
	background-image: url(../images/ch-cover.png);
	background-position: bottom left;
}

.stockpile {
	background-image: url(../images/stockpile-cover.png);
	background-position: bottom right;
}

.grace-hopper {
	background-image: url(../images/ghc-cover.png);
	background-position: center left;
}

.pharmacy {
	background-image: url(../images/pharmacy-cover.png);
	background-position: bottom right;
}

.consulting {
	background-image: url(../images/consulting-beacon-ui.png);
	background-position: center left;
}

.ecotouch {
	background-image: url(../images/ecotouch-leaf.jpg);
}

.tamagotchi {
	background-image: url(../images/tamagotchi.png);
}

.tsa {
	background-image: url(../images/booth.jpg);
}

.context {
	background-image: url(../images/context-mockup1.png);
	background-position: 50% 23%;
}

.description {
	width: 92%;
	color: $gray-5;
	line-height: 2;
}


.page-menu {
	text-transform: uppercase;
	letter-spacing: 3px;
	@include clearfix;
	a, a:visited, a:link {
		border-bottom: 1px solid transparent;
		background-color: #f0eef1;
		padding: 6px 10px;
		&:hover {
			color: $gray-5;
			transition: all 0.1s ease-in-out;
		}
	}


	ul {
		float: right;
		display: block;
		li{
			display: inline-block;
			margin-left: 30px;
		}
	}



}

.line-container {
	@include clearfix;
	margin-bottom: 30px;

	.line {
		width: 88%;
		height: 1px;
		background: linear-gradient(to right,#7ba8ff,#ff9181);
		float: left;
	}
}

.line-decor {
	border-bottom: 1px solid $gray-6;
	width: 10%;
}
