{% extends "projectBase.html" %}

{% block content %}
	<h3>Rebranding</h3>
	<p>
	I joined the company as the only mobile designer at the early stage of our mobile product, during which we were catching up to web on our feature implementation. It was also a pivotal period for our design team as we embarked on a major rebranding effort, with Mobile being the first platform to initiate the design overhaul, and most of which were designed by me. 
	</p>
	<div class="caption">We went from a light blue primary color into a more memorable and studious ink blue logo. 
	</div>
	<img class="lazy" data-original="../../static/build/images/ch-mobile-logos.png" alt="Course Hero Logos" width="100%" />
	<img class="lazy" data-original="../../static/build/images/ch-mobile-old.png" alt="Course Hero Old Branding" width="100%"/>
	<div class="work-quote">
		<span>&#8220;</span>Our new branding was designed to evoke a sense of professionalism, mastery, honor, and approachability. Above all, it needs to be simple, distinctive and flexible for the purposes of our product design.
	</div>
		<img class="lazy" data-original="../../static/build/images/ch-mobile-docs.png" alt="Course Hero Documents feature" width="100%"/>
		<img class="lazy" data-original="../../static/build/images/ch-mobile-features-ios.png" alt="Course Hero Documents feature" width="100%"/>
		<img class="lazy" data-original="../../static/build/images/ch-mobile-features-ios-2.png" alt="Course Hero Documents feature" width="100%"/>

		<p>Our new branding was designed to evoke a sense of professionalism, mastery, honor, and approachability. Above all, it needs to be simple, distinctive and flexible for the purposes of our product design on various platforms, both digitally and tangibly. 
		</p>
		<img class="lazy" data-original="../../static/build/images/ch-mobile-features.png" alt="Other Course Hero features" width="100%"/>
		<img class="lazy" data-original="../../static/build/images/ch-icons.png" alt="Course Hero icons" width="100%"/>
		<p>We wanted to move away from the juvenile look-and-feel of our product towards a product of trust and maturity. I worked with our illustrator to iterate countless times over our icon set in order to achieve proper balance between the icons and the typography but also retain a degree of softness that makes us more approachable.</p>
	</div>
{% endblock %}