<!DOCTYPE html>
<html>
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="https://use.typekit.net/qun8xbg.js"></script>
	    <script>try{Typekit.load({ async: true });}catch(e){}</script>
	    <link href="../../static/build/styles/style.min.css" media="screen, projection" rel="stylesheet" types="text/css"/>
    </head>
    <body>
		<div class="error-page">
			<div class="error-content">
				<h1>Error, 404</h1>
				<p>Oops, this page doesn't exist. Let's go back to <a href="../">Home</a>.</p>
			</div>
		</div>
	</body>
</html>