{% extends "projectBase.html" %}

{% block content %}
<h1>Course Hero</h1>
<h2>Growing User Research</h2>
<div class="caption">Affinity diagramming at Course Hero during Halloween! </div>
<img class="lazy" data-original="../../static/build/images/ch-affinity-exercise.jpg" alt="Affinity Diagramming" width="100%"/>
<p>
	The initial product strategy for our Course Hero mobile apps was primarily focused on achieving feature parity with our existing web product. We had very little in the way of mobile-specific product vision and very few tools to compare our apps’ performance one quarter after another. Since we weren't collecting qualitative feedback from our users, some of our early design decisions were based on gut feelings and untested hypotheses. 
</p>

<p>
	Fortunately, after our core features (document sharing, tutoring, and flashcards) were released, we had an opportunity to step back and properly evaluate what our next focus should be. Answering questions around our user's motivation is a great first step. 
</p>

<h3>Qualitative User Research</h3>
<p>Historically, Course Hero’s research efforts have consisted primarily of quantitative methods - traditional web analytics and A/B testing. While these methods are useful for gauging customer behaviors at scale, they can easily miss more nuanced usability problems and don’t do a good job of explaining why users behave the way they do. Ideally, a comprehensive and effective user research program should contain a balance of quantitative and qualitative methods. 
</p>
<h3>Conducting Research</h3>
<p>To fix this, I initiated Course Hero’s qualitative user research program. Given that the company had never done this kind of research before, I wanted to start with something that would give us a broad overview of how our students users use our mobile products in a college environment. Specifically, I wanted to answer the following research questions:
</p>
<ol>
	<li>What motivates our users to use our app?</li>
	<li>What would make users re-engage with the app after first-time use?</li>
	<li>How do we better pair our mobile product with desktop?</li>
	<li>What can we do to encourage users to purchase?</li>
</ol>
<div class="caption">This is a picture of me talking to a user while another Course Hero member is taking notes on her laptop.</div>
<img class="lazy" data-original="../../static/build/images/ch-research-session-photo.jpg" alt="At UC Davis Doing User Research" width="100%"/>
<img class="small-image lazy" data-original="../static/build/images/ch-stickies.jpg" alt="We collected user data" width="50%"/>
<p>
In order to answer these questions, I planned a series of guided interviews, created a research plan and trained members on my mobile team to conduct unbiased user interviews and task analyses (“Think-Alouds”). After the research session on the UC Davis campus, I led a series of exercises to review session recordings, synthesize data, and generate insights.</p>

<p>A few interesting insights that helped us answer the above questions include: 
</p>
<ol>
	<li>Students generally don’t pay for mobile apps unless they “can’t live without it”. They also tend to prefer sharing accounts with each other in order to save more. </li>
	<li>A lot of our mobile users come from our web product or through word-of-mouth and not organically through the App Store.</li>
	<li>Our students love our document sharing feature but don’t really know how it works.</li>
</ol>
<p> By including the entire team in the data synthesis process, team  members developed user empathy and felt more invested in the experience they were building, thus helped push the quality of our app to the next level.  </p>

<h3>Results</h3>
<p>
	We saw several improvements in our conversion funnel by fixing some bugs that came up during the usability test. We also made minor UI adjustments based on user feedback (for example, we increased transparency of user’s unlock balance). More importantly, we realized that students generally want to study whereever and whenever they can. Therefore, increasing their in-app experience can help Course Hero stand out from our competitors. As a result, we shifted more focus onto user experience improvements, and I helped hire a second UX designer to join our team. Within months of our first user research session, our ranking on the App Store and Google Play reached its all-time high as top 6 grossing education app in November 2016 and Android hit top 4 grossing education app in March 2017. We went from not hitting any of our product goals in June 2016 to hitting all three by the end of 2016.

</p>
<p>
	In the next several months, I shared my research process and outcomes with various parts of the organization. I also spoke about the value of user research at a company all-hands. This effort quickly led to the kickoff of our user research program, and it has since become heavily integrated in our product development cycle. A couple months ago, we started hiring our first user research lead to grow the program!
 
</p>
<p>
	Not only are designers now heavily involved in the user research process, but I also got buy-in from Marketing, Customer Support, Product, and Analytics teams. Everyone became extremely interested in research outcomes and more cross-collaboration exist between teams to increase the quality of our products! 
</p>
<ul class="subproject-container">
	<li><a href="../" class="subproject-link">Back to Home</a></li>
	<li><a href="/project/ch-navigation" class="subproject-link">Next Project - Navigation Redesign</a></li>
</ul>

{% endblock %}