{% extends "projectBase.html" %}

{% block content %}
<h1>Course Hero</h1>
<h2>Project 2: User Research</h2>
<img class="lazy" data-original="../../static/build/images/ch-affinity-exercise.jpg" alt="Affinity Diagramming" width="100%"/>
<p>
	At the early stage of our mobile product, the Mobile team had committed to achieving feature parallelism with web as soon as possible. We did not have app analytics and A/B testing fully implemented like on web, which meant that we were making some of our product decisions on gut feelings, untested hypotheses and, what people "liked". When document sharing, Q&amp;A with a tutor, and flashcards were released (which we consider our core product line), we had several new feature options to consider but it was unclear which path we should take because there was not way to measure success and every member on the team seems to have a different idea of what kind of student users we want to build for.
</p>

<p>
	My designer instincts kicked in after having my post-lunch coffee one afternoon and I casually suggested to my product manager that we should just go to a college campus and talk to our student users. It turned out to be one of the best decisions for our product. Our team wasn’t very big (2–3 engineers per platform, PM and myself) and we didn’t have a dedicated user researcher (still don’t) so I used whatever my CMU HCI program taught me (+ some internet research) to design a product research study with a thorough study outline and script.
	We worked with some marketing members to reach out to some student connections at UC Davis a couple days prior and then just drove up with some SWAG plus some gift cards as incentives.
</p>
<img class="lazy" data-original="../../static/build/images/ch-research-session-photo.jpg" alt="At UC Davis Doing User Research" width="100%"/>
<p>
	We broke down the user session into two parts - first is a 15-minute conversation about the student's relationship with their phones specifically for educational purposes. Second was a usability testing session to unlock a document and study with it. 
</p>
<p>
	Following the trip, I gathered our mobile team to go through the notes and video recording of each of the 8 users we spoke to and did an affinity diagram exercise. We were able to gather some high level insights as well as catch some bugs that we never knew existed.
</p>
<img class="small-image lazy" data-original="../static/build/images/ch-stickies.jpg" alt="We collected user data" width="50%"/>
<img class="small-image lazy" data-original="../static/build/images/ch-affinity-insights.jpg" alt="Sample of affinity insights" width="50%"/>
<p>
	I shared the process and the insights we gathered with our design team and everyone was extremely excited. Our designers had never conducted a user research session offsite in the past and definitely did not think to include their developers in the process. 
</p>
<p>
	Course Hero's first ever user research session (spearheaded by me on a random afternoon) resulted in a increased pour of resources into qualitative data collection from the company. Our analytics team - previously only laser-focused on A/B test wins - are now working with designers to make more balanced product decisions during our brainstorming phase. Moreover, I was asked to support other designers in running their own studies and work with teams to consolidate user data. Excitingly, we are also in the process of hiring our first ever user researcher! 
</p>
<p>
	On the mobile product side, we saw several improvements in our conversion funnel simply by making small adjustments and fixing some bugs that our users found (for example, users not knowing what their unlock credit balance is on high-visibility pages). Our ranking on the App Store and Google Play also reached its all-time high as top 6 grossing education app in November 2016 and Android hit top 4 grossing education app in March 2017. We went from not hitting any of our product goals in June 2016 to hitting all three by the end of 2016. 
</p>
<p>
	By no means was user research this magical unicorn that solved all our problems. However, by incorporating user research and usability testing into our process, the company learned to work directly with users to seek direct product feedback whenever they can.
</p>

{% endblock %}