{% extends "projectBase.html" %}

{% block content %}
<h1>Course Hero</h1>
<h2>Mobile Rebranding</h2>
<div class="intro-box">
Course Hero aims to empower college students to access and share school resources - such as class notes and flashcard sets - to help them improve in class. 
</div>
<img class="lazy" data-original="../../static/build/images/ch-mobile-logos.png" alt="Course Hero Logos" width="100%" />
<p>In the summer of 2016, I was tasked with rebranding Course Hero’s iOS and Android Apps. The company was set on differentiating itself from other competitors in the education-technology space and invested in an external vendor to deliver a company brand guideline with a new logo, color scheme, brand attributes, and rules around color usage across all digital and tangible products.</p>
<p>
The mobile apps were the first of Course Hero’s products to undergo rebranding which meant that mobile designs had to set the example for other product teams. Initially, the task involved updating color, type and logo. However, as I evaluated both apps screen by screen through a high-level heuristic evaluation, the project grew in size. I found many inconsistent UI patterns and bugs, and noticed that some usability best practices were not incorporated in the app implementation (ie. tap feedback, path of Android’s hardware back button).
</p>
<div class="caption">
	Some old vs. new designs
</div>
<img class="lazy" data-original="../../static/build/images/ch-mobile-old.png" alt="Course Hero Old Branding" width="100%"/>
<img class="lazy" data-original="../../static/build/images/ch-mobile-docs.png" alt="Course Hero Documents feature" width="100%"/>
<p>
	One of the main challenges throughout this project was balancing efforts between brand recognition and usability.  The design team wanted to build a reputation of professionalism and approachability with this new brand identity and there were several key pages in the app that I iterated on to bring out the brand. In many cases, I felt that the brand overshadowed the functional aspects of the app and had to re-evaluate my design decisions. In most cases, I ultimately chose to prioritize usability because I believe loyal users are earned by realizing a helpful and functional app and not by how appealing our brand looks. In our old brand, we had a giant graphic sitting above all major CTA’s on the home screen. Since Android devices come in various sizes and resolutions, the graphic on the top take up too much valuable screen real-estate and hide some CTA’s below the fold.
</p>
<div class="caption">
	On the left is the iOS homepage mockup with the old brand. The graphic above the CTAs is visually appealing but not practical. 
</div>
<img class="lazy" data-original="../../static/build/images/ch-old-home.png" alt="Course Hero Old Homepage" width="100%"/>
<p> 
	In a different scenario, I created several designs for our payment page in order to bring out our brand attributes. However, due to the small screens on mobile devices, we had to prioritize clarifying our subscription model to our students over using fancy graphics or animations. 
</p>
<div class="caption">
	These are the designs I created for our payment page. We ended up choosing the first variation. It clearly illustrates our membership value propositions but was also the most subtly branded of all variations.</div>
<img class="lazy" data-original="../../static/build/images/ch-payments.png" zalt="Payments page iterations" width="100%"/>
<h3>Design Documentation</h3>
<p>
	Prior to my joining the company, Course Hero did not have any dedicated mobile designers. As a result, there were no Android-specific mocks or related design documentation. Instead, Android devs had been implementing based on iOS mockups, retrofitting areas of the app that were not consistent with Android standards.
</p>
<p>
	As part of the rebranding efforts, I spent several weeks creating reference mocks for each screen, so that developers could have one source of truth. Some features only required minor adjustments in paddings and interactions -- these were handled within the scope of the rebranding project. Other, more complex fixes would be deferred until later. 
</p>
<p>
	The task of producing rebranded mocks for the entire application also gave me an opportunity to step back and create a style guide to document common conventions for UI patterns or interactions. This allowed our team to avoid having the same conversations over and over, and made our development work more efficient.
</p>

<div class="caption">
	Since then, I had completely redone the entire styleguide but this is a screenshot of what it looked like back then when I didn't have the bandwidth to prioritize a more comprehensive guide. 
</div>
	<img class="lazy" data-original="../../static/build/images/ch-styleguide.png" alt="Mobile Styleguide" width="100%"/>

<h3>Play Store Icons </h3>
<p>
	A listing in the app store is often a user’s first impression of an application, so it’s critically important to make sure it has the intended effect.  As part of Course Hero’s rebranding, I created a new app icon on the Play Store listing page. Our goals for this icon were to (a) to stand out from other app icons that users might see on their phone and (b) communicate a feeling of empowerment and professionalism. Some of the icon options enhanced the jarring sharp edges of our logo when placed next to other app icons. Ultimately, we decided to go for a circular icon with a thick white stroke (top-right) due to the visual similarities with badges of achievement and mastery.
</p>
<img class="lazy" data-original="../../static/build/images/ch-app-icons.png" alt="App icon iterations" width="100%"/>
<div class="caption">
	I tested each of these icons in an ocean of other icons and held a design critique with other designers and mobile team.
</div>
<img class="lazy" data-original="../../static/build/images/ch-app-icon-screens.png" alt="App icon screenshots" width="100%"/>

<h3>In-app Icons</h3>
<p>
In order to better pair our in-app icons with our new font, the icons had to be readjusted. I felt that the strokes of the old icons were way too thin and some of the icons didn't make much sense paired with their corresponding text-label. This wasn't part of the scope of rebranding, but I eventually worked with our visual designer to redesign them in Illustrator. We then iterated and tested the new icons in the context of the mobile app screens to ensure that they pair well with the associated text.
</p>
<div class="caption">
	This is our new icon set.
</div>
<img class="lazy" data-original="../../static/build/images/ch-icons.png" alt="Course Hero icons" width="100%"/>
<div class="caption">
	Here are a couple screenshots of screens with the new icons.
</div>
<img class="lazy" data-original="../../static/build/images/ch-mobile-features.png" alt="Other Course Hero features" width="100%"/>
<h3>Results</h3>
<p>
	Starting from mid-2016, our company shifted focus onto customer satisfaction, specifically measuring and growing our 
	<a href=”https://www.netpromoter.com/know/” >net promoter scores</a>
	, which ranges from -100 to +100. A positive score means that we have more users who are willing to recommend our apps to others, while a negative score indicates an app experience that detracts our users.
</p>
<p>
	The company as a whole averaged -9. When breaking down each product team’s scores, Android came out on top of all product teams at 36 and iOS was at 15. This is a huge win for our team and an indication of success for both our rebranding efforts and the interaction improvements. 

</p>


<ul class="subproject-container">
	<li><a href="../" class="subproject-link">Back to Home</a></li>
	<li><a href="/project/ch-research" class="subproject-link">Next Project - User Research</a></li>
</ul>
{% endblock %}