{% extends "projectBase.html" %}

{% block content %}
    <h1>PwC Consulting</h1>
    <h2>User Experience Team</h2>
    <div class="work-content">
        <div class="work-detail">
        <h3>Google Glass Warehouse Manager</h3>
        <img class="lazy top" data-original="../static/build/images/consulting-glass.png" alt="Google Glass" width="100%"/>
        <h4>Objective</h4>
        <p>Create a order management system for warehouse workers to optimize the order fulfillment process</p>
        <h4>Background</h4>
        <p>Two other consultants and I were placed on a project to come up with a business case and prototype a concept to further streamline a standard warehouse management flow. Based on our research, we know that the existing process can be very manual and relies heavily on human judgment. It is usually a fast-paced environment with a lot of moving objects, which means it can be chaotic, dangerous and distracting. Finally, optimizing item pickup route requires experience and forward-thinking, and junior level workers may need additional guidance to become familiar with the warehouse surroundings.</p>    
        <div class="caption">Screenshots of the UI I coded in Java
        </div>
        <img class="lazy" data-original="../static/build/images/consulting-google-glass-ui.png" alt="Google Glass UI" width="100%"/>
        <div class="caption">I coded this! Here's a screenshot of my Android Studio IDE
        </div>    
        <img class="lazy" data-original="../static/build/images/consulting-google-glass-code.png" alt="Google Glass Code" width="100%"/>
        <p>The final prototype was demoed to my partner and director, and both were very impressed at the user research and level of detail we prototyped our product to address our users' needs. </p>    

        <h3>Other PwC Consulting Experience</h3>
        <p>I worked under the User Experience team delivering applications to clients on both web and mobile platforms, and have also done internal projects on hardwares such as Google Glass and Beacons. Having worked across the entire product development spectrum end-to-end, I have done work in ideation, low to high fidelity mockups designs, code implementation of my designs, and cross-functional collaboration to have those designed features released. Additionally, I also picked up product management responsibilities to drive larger scale projects to completion at higher velocity and product quality. </p>
        <img class="lazy top" data-original="../static/build/images/consulting-cover.png" alt="Google Glass" width="100%"/>
        <ul>
            <li><span>Mobile user experience work</span> for one of the largest healthcare provider and payer in the country. This includes working on features related to pharmacy refills, touch id, and messaging platform between doctors and patients.</li>
            <li><span>Product management and technical advisor</span> of an offshore dev and testing team of 14 people for the same healthcare company. Some of my responsibilities include, writing user stories, managing sprint backlogs, leading daily stand-ups, ensure timely product delivery using Agile Methodologies, quality assurance of our deliverables and product coordination across other business, design, dev and testing teams within the mobile team.</li>
            <li><span>Created high-fidelity designs</span> on a incident reporting and tracking app for a large oil and gas company that was taken to full implementation and delivered to the client.</li>
            <li><span>User experience design and front-end development </span>of an internal devOps team app with a fully functional content management system built in Django.  Site was demoed to numerous PwC partners and directors with strong positive feedback.</li>
            <li><span>Google glass development</span> in Android Studio of a warehouse management app concept.</li>
        </ul>
        <p>My experience at PwC has shaped me into a product-driven designer/developer hybrid. I like to consider myself a product specialist, who also designs and writes code ☺.
        </div>
    </div>
    <ul class="subproject-container">
        <li><a href="../" class="subproject-link">Back to Home</a></li>
    </ul>
{% endblock %}