<div class="contact work">
	<section class="contact-container">
		<div class="contact-content"> 
			<div class="contact-name">
				Created by Emily Tsai | Product Designer &amp; Developer
			</div>
		
			<div class="line"></div>
		
			<div class="contact-label">
				<ul>
					<li><a href="mailto:emily.c.tsai@gmail.com">Email</a></li>
					<li><a href="http://www.github.com/emilyyt">Github</li>
					<li><a href="https://www.linkedin.com/in/emily-chu-ying-tsai-64ab9447">LinkedIn</li>
					<li><a href="https://dribbble.com/emilytsai">Dribbble</a></li>
				</ul>
			</div>
		</div>
	</section>
</div>