{% extends "projectBase.html" %}

{% block content %}
<h2>iOS and Android Apps for Students</h2>
<div class="work-content">
	<div class="work-detail">
		<p>I lead our iOS and Android mobile design at Course Hero and am striving to build a mobile-first education experience to empower our student users in and out of class.</p>
		<p>
		Course Hero aims to empower college students to access and share school resources - such as class notes, provide tutoring services and flashcard sets - to help them improve in class. 
		</p>
		<h3>Rebranding</h3>
		<img class="top" src="../static/build/images/ch-mobile-search.png" alt="Course Hero Mobile" width="100%">
		<p>
		I joined the company as the only mobile designer at the early stage of our mobile product, during which we were catching up to web on our feature implementation. It was also a pivotal period for our design team as we embarked on a major rebranding effort, with Mobile being the first platform to initiate the design overhaul, and most of which were designed by me. 
		</p>
		<div class="caption">We went from a light blue primary color into a more memorable and studious ink blue logo. 
		</div>
		<img class="lazy" data-original="../static/build/images/ch-mobile-logos.png" alt="Course Hero Logos" width="100%" />
		<img class="lazy" data-original="../static/build/images/ch-mobile-old.png" alt="Course Hero Old Branding" width="100%"/>
		<div class="work-quote">
			<span>&#8220;</span>Our new branding was designed to evoke a sense of professionalism, mastery, honor, and approachability. Above all, it needs to be simple, distinctive and flexible for the purposes of our product design.
		</div>
		<img class="lazy" data-original="../static/build/images/ch-mobile-docs.png" alt="Course Hero Documents feature" width="100%"/>
		<img class="lazy" data-original="../static/build/images/ch-mobile-features-ios.png" alt="Course Hero Documents feature" width="100%"/>
		<img class="lazy" data-original="../static/build/images/ch-mobile-features-ios-2.png" alt="Course Hero Documents feature" width="100%"/>

		<p>Our new branding was designed to evoke a sense of professionalism, mastery, honor, and approachability. Above all, it needs to be simple, distinctive and flexible for the purposes of our product design on various platforms, both digitally and tangibly. 
		</p>
		<img class="lazy" data-original="../static/build/images/ch-mobile-features.png" alt="Other Course Hero features" width="100%"/>
		<img class="lazy" data-original="../static/build/images/ch-icons.png" alt="Course Hero icons" width="100%"/>
		<p>We wanted to move away from the juvenile look-and-feel of our product towards a product of trust and maturity. I worked with our illustrator to iterate countless times over our icon set in order to achieve proper balance between the icons and the typography but also retain a degree of softness that makes us more approachable.</p>
	</div>
	<h3>User Research</h3>
	<img class="small-image lazy" data-original="../static/build/images/ch-stickies.jpg" alt="We collected user data" width="50%"/>
	<p>At the early stage of our mobile product, the Mobile team had committed to achieving feature parallelism with web as soon as possible. We did not have app analytics and A/B testing fully implemented, which meant that we were making some of our product decisions on gut feelings and untested hypotheses. When the core of our education products were fully implemented, we had several product options to consider but it was unclear which path we should take. Understanding that the key to our success is to build something that our <span> student users</span> need, I decided to plan our company's first offsite usability testing and product research session with my PM at a local university that the company has existing relationships with.</p>
	<p>The results of the session was astoundingly positive. Not only did we collect great student insights on our product, other teams also followed our lead and planned their own user research sessions!</p>
	<h3>Navigation</h3>
	<img class="lazy" data-original="../static/build/images/ch-navdrawer.png" alt="Nav Drawer Iterations" width="100%"/>
	<h3>Payments</h3>
	<img class="lazy" data-original="../static/build/images/ch-payments.png" alt="Payments Iterations" width="100%"/>
	<h3>Prototypes</h3>
	<div class="prototype-video">
		<div class="caption">iOS prototype of our new search interaction</div>
		<video controls="controls" autoplay loop src="../static/build/images/ch-school-filter.mov" alt="Payments Iterations" width="360px">
		</video>
	</div>
	<div class="prototype-video">
		<div class="caption">Android prototype of our content review feature</div>
		<video controls="controls" autoplay loop src="../static/build/images/ch-rr.mov" alt="Review Documents" width="360px">
		</video>
	</div>
	<div class="prototype-video">
		<div class="caption">Android prototype of the new autocomplete design with the option of voice input</div>
		<video controls="controls" autoplay loop src="../static/build/images/ch-autocomplete.mov" alt="Android Autocomplete" width="360px">
		</video>
	</div>
</div>
{% endblock %}