{% extends "projectBase.html" %}

{% block content %}
	<h2>iOS and Android Apps for Students</h2>
	<div class="work-content">
		<div class="work-detail">
			<p>I lead our iOS and Android mobile design at Course Hero and am striving to build a mobile-first education experience to empower our student users in and out of class.</p>
			<p>
			Course Hero aims to empower college students to access and share school resources - such as class notes, provide tutoring services and flashcard sets - to help them improve in class. 
			</p>
			<img class="top" src="../static/build/images/ch-mobile-search.png" alt="Course Hero Mobile" width="100%">
			<p>
			Here are a couple large-scale projects I've worked on:
			<ul>
				<li><a href="coursehero/ch-rebranding">Mobile Rebranding</a></li>
				<li><a>User Research</a></li>
				<li><a>Homepage Redesign</a></li>
			</ul>
			</p>
			
		<h3>User Research</h3>
		<img class="small-image lazy" data-original="../static/build/images/ch-stickies.jpg" alt="We collected user data" width="50%"/>
		<p>At the early stage of our mobile product, the Mobile team had committed to achieving feature parallelism with web as soon as possible. We did not have app analytics and A/B testing fully implemented, which meant that we were making some of our product decisions on gut feelings and untested hypotheses. When the core of our education products were fully implemented, we had several product options to consider but it was unclear which path we should take. Understanding that the key to our success is to build something that our <span> student users</span> need, I decided to plan our company's first offsite usability testing and product research session with my PM at a local university that the company has existing relationships with.</p>
		<p>The results of the session was astoundingly positive. Not only did we collect great student insights on our product, other teams also followed our lead and planned their own user research sessions!</p>
		<h3>Navigation</h3>
		<img class="lazy" data-original="../static/build/images/ch-navdrawer.png" alt="Nav Drawer Iterations" width="100%"/>
		<h3>Payments</h3>
		<img class="lazy" data-original="../static/build/images/ch-payments.png" alt="Payments Iterations" width="100%"/>
		<h3>Prototypes</h3>
		<div class="prototype-video">
			<div class="caption">iOS prototype of our new search interaction</div>
			<video controls="controls" autoplay loop src="../static/build/images/ch-school-filter.mov" alt="Payments Iterations" width="360px">
			</video>
		</div>
		<div class="prototype-video">
			<div class="caption">Android prototype of our content review feature</div>
			<video controls="controls" autoplay loop src="../static/build/images/ch-rr.mov" alt="Review Documents" width="360px">
			</video>
		</div>
		<div class="prototype-video">
			<div class="caption">Android prototype of the new autocomplete design with the option of voice input</div>
			<video controls="controls" autoplay loop src="../static/build/images/ch-autocomplete.mov" alt="Android Autocomplete" width="360px">
			</video>
		</div>
	</div>
{% endblock %}