{% extends "projectBase.html" %}

{% block content %}
	<h1>Course Hero</h1>
	<h2>iOS and Android Apps for Students</h2>
	<div class="work-content">
		<div class="work-detail">
			<p>I lead our iOS and Android mobile design at Course Hero and am striving to build a mobile-first education experience to empower our student users in and out of class.</p>
			<p>
			Course Hero aims to empower college students to access and share school resources - such as class notes, provide tutoring services and flashcard sets - to help them improve in class. 
			</p>
			<img class="top" src="../static/build/images/ch-mobile-search.png" alt="Course Hero Mobile" width="100%">
			<p>
			Here are a couple large-scale projects I've worked on:
			<!-- <ul class="subproject-container">
				<li>
					<a href="coursehero/ch-rebranding" class="subproject-link">
						<div class="subproject-image">
							<img class="lazy" data-original="../static/build/images/ch-rebranding-cover.png" height="100%"/>
						</div>
						<div class="subproject-title">
							Mobile Rebranding
						</div>
					</a>
				</li>
				<li>
					<a class="subproject-link">
						<div class="subproject-image">
							<img class="lazy" data-original="../static/build/images/ch-research-cover.png" height="100%"/>
						</div>
						<div class="subproject-title">
							User Research
						</div>
					</a>
				</li>
				<li>
					<a class="subproject-link">
						<div class="subproject-image">
							<img class="lazy" data-original="../static/build/images/ch-home-cover.png" height="100%"/>
						</div>
						<div class="subproject-title">
							Homepage Redesign
						</div>
					</a>
				</li>
			</ul> -->
			</p>
			
		<h3>Navigation</h3>
		<img class="lazy" data-original="../static/build/images/ch-navdrawer.png" alt="Nav Drawer Iterations" width="100%"/>
		<h3>Payments</h3>
		<img class="lazy" data-original="../static/build/images/ch-payments.png" alt="Payments Iterations" width="100%"/>
		<img class="lazy" data-original="../../static/build/images/ch-mobile-features-ios.png" alt="Course Hero Documents feature" width="100%"/>
		<img class="lazy" data-original="../../static/build/images/ch-mobile-features-ios-2.png" alt="Course Hero Documents feature" width="100%"/>
		<h3>Prototypes</h3>
		<div class="prototype-video">
			<div class="caption">iOS prototype of our new search interaction</div>
			<video controls="controls" autoplay loop src="../static/build/images/ch-school-filter.mov" alt="Payments Iterations" width="360px">
			</video>
		</div>
		<div class="prototype-video">
			<div class="caption">Android prototype of our content review feature</div>
			<video controls="controls" autoplay loop src="../static/build/images/ch-rr.mov" alt="Review Documents" width="360px">
			</video>
		</div>
		<div class="prototype-video">
			<div class="caption">Android prototype of the new autocomplete design with the option of voice input</div>
			<video controls="controls" autoplay loop src="../static/build/images/ch-autocomplete.mov" alt="Android Autocomplete" width="360px">
			</video>
		</div>
	</div>
{% endblock %}