<!DOCTYPE html>
<html>
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="https://use.typekit.net/qun8xbg.js"></script>
	    <script>try{Typekit.load({ async: true });}catch(e){}</script>
	    <link href="../../static/build/styles/style.min.css" media="screen, projection" rel="stylesheet" types="text/css"/>
    </head>
    <body>
		<div class="login-page">
			<div class="login-container">
				<h1>Enter password</h1>
				<p>Some of my work is confidential. <br>Please <a href="mailto:emily.c.tsai@gmail.com">contact me</a> if you would like to request access. 
				</p>
				{% if error_message %}
					<div class="error-message">{{ error_message }}</div>
				{% endif %}
				<form method="post">
				    <input type="password" placeholder="Password Here" name="pw"/>
				    <input type="submit" value="&rsaquo;"/>
				</form>
			<div>
		</div>
	</body>
</html>