{% extends "projectBase.html" %}

{% block content %}
<h1>Stockpile</h1>
<h2>Online Stock Trading for Adults and Children</h2>
<div class="work-content">
    <div class="work-detail">
        <p>I worked as Stockpile's only design resource for about three months, during which I tackled a variety of design tasks. Featured below are the homepage redesigns and dashboard redesigns that I did.  
        </p>
        <img class="lazy" data-original="../static/build/images/stockpile-summary.png" alt="Stockpile Mockup summary" width="100%"/>
        <p>    Stockpile is a fintech startup that provides online stock brokerage services to adults and kids. The company also has a gift card product that enable customers to send fractional shares of stocks to their friends and family as a gift.</p>

        <h3>Homepage</h3>
        <p>Stockpile needed a major homepage overhaul. The visual and UI designs were outdated and there were too many CTAs on the top section of the homepage that could be reserved for a more visually appealing, interactive experience.</p>
        <h4>Project Context</h4>
        <p>We want to evoke a sense of professionalism but also cater to a younger audience to show that stock trading is not an intimidating activity and is accessible to everyone (one of our primary selling point is that we serve customers under 18). Based on some analysis, customers have four major use cases when they visit our homepage: 1) they land on our page through organic traffic or ads and want to know what we are about 2) they've received a gift card and would like to redeem it 3) they want to order a gift card for someone else 4) they simply want to open a brokerage account or log into their existing account. I looked into similar product website homepages to draw some inspiration and came up with a couple mocks that fit the mood we were going after.</p>
        <div class="caption">This is the old homepage.</div>
        <img class="lazy" data-original="../static/build/images/stockpile-old-home.png" alt="Homepage Design 1" width="100%"/>
        <div class="caption">My homepage mockups. My thought around the new design is to increase the appeal of the numerous brands we offer on our site. Our current users have expressed interest in purchase because they recogized a particular brand on our gift card.</div>
        <img class="lazy" data-original="../static/build/images/stockpile-homepage-design.png" alt="Homepage Design 1" width="100%"/>
        <div class="caption">Along the same thought to increase brand appeal, I played around with a digital card design where users and preview the stock graph of each brand directly on the homepage. The interactivity of the page could be a fun and engaging exercise for users.</div>
        <img class="lazy" data-original="../static/build/images/stockpile-homepage-design-2.png" alt="Homepage Design 2" width="100%"/>
        <div class="caption">This design is a combination of the brand tiles in the first mock and the stock graph in the second. I used a blue background (one of their brand colors), to bring out the white tiles.</div>
        <img class="lazy" data-original="../static/build/images/stockpile-homepage-design-3.png" alt="Homepage Design 3" width="100%"/>
        <div class="prototype-video">
            <div class="caption">I made a prototype with some live stock data with the MarkitOnDemand api and highcharts api, with some html/css/js</div>
            <video controls="controls" autoplay loop src="../static/build/images/stockpile-homepage-proto.mov" alt="homepage prototype" width="100%">
            </video>
        </div>
        <div class="caption">This last one uses a subtle but fun background to appeal to our younger audience. It also draws attention to "Stockpile" to help establish some brand recognition for us. </div>
        <img class="lazy" data-original="../static/build/images/stockpile-homepage-design-4.png" alt="Homepage Design 4" width="100%"/>
        <div class="caption">The second section of homepage features our gift card redemption process. I wanted the process to be as simple as possible but still include some visual interest. Our iOS app had received great feedback on the App Store and I thought this would be a great place to both feature the app and the brands we carry. </div>
        <img class="lazy" data-original="../static/build/images/stockpile-homepage-section-2.png" alt="Homepage Section 2" width="100%"/>
        <div class="caption">The CEO wanted to include a section on how Stockpile works. Previously, this page was broken down into three long sections. It was difficult for users to see all three without extensive scrolling. I condensed them onto one section and updated the graphics.</div>
        <img class="lazy" data-original="../static/build/images/stockpile-homepage-section-3.png" alt="Homepage Section 3" width="100%"/>

        <p>I had several critique sessions with the CEO to improve my designs but due to some team restructure, the design wasn't implmented until after I left the company. Elements of my design did make it into production 3 months later.</p>
<!--             <div class="work-quote">
            <span>&#8220;</span>We want to evoke a sense of professionalism but also cater to a younger audience to show that stock trading is not an intimidating activity and is accessible to everyone.
        </div> -->
        <h3>Dashboard</h3>
        <p>The portfolio dashboard is one of the most important and most visited pages for existing account holders. We want our customers to not only get a quick summary of how their portfolio is performing, but also include additional features that can help them make informed decisions about each stock without leaving our page (ie. go to Google or Yahoo Finance instead).</p>
        <div class="caption">This is the old dashboard.</div>
        <img class="top" src="../static/build/images/stockpile-dashboard-old.png" alt="Dashboard Portfolio" width="100%"/>
        <p>I researched various dashboard designs online and also looked at existing websites that have similar dashboard concepts. A huge selling point for our products was the brand recognition that comes with the gift card purchase - therefore, company branding is an element I heavily incorporated into my designs. I explored various ways to utilize company logos and color schemes on the page. Overall, I did two major iterations on the design.</p>
        <h4>Iteration 1</h4>
        <img class="lazy" data-original="../static/build/images/stockpile-dashboard-7.png" alt="Dashboard Portfolio" width="100%"/>
        <p>I started out my first iteration by rethinking the relevance of the card-like UI representation of each stock and decided that the concept played nicely along with the actual gift cards we sell. My initial designs retained the card concept and focused on the ownership of more cards on the screen. However, some concerns around this design include: 1) the scatteredness of the stock data for each company 2) the redundancy of stocks information between the companies of interest (on the right side of the graph) versus the owned stocks (below the graph) 3) lack of scalability for new features. </p>
        <img class="lazy" data-original="../static/build/images/stockpile-dashboard-8.png" alt="Dashboard Portfolio" width="100%"/>
        <h4>Iteration 2</h4>
        <img class="lazy" data-original="../static/build/images/stockpile-dashboard.png" alt="Dashboard Portfolio" width="100%"/>
        <p>With the second iteration, I took a different approach. The CEO described his vision of a data-heavy dashboard that the user can perform various portfolio functions with: 1) users should be able to see his/her portolio status immediately 2) compare the performance of each stock 3) explore other stocks of interest. He presented several designs he found online that he liked and based on those designs, I made a second attempt at incorporating these elements.</p>
        <img class="lazy" data-original="../static/build/images/stockpile-dashboard-2.png" alt="Dashboard Company Select" width="100%"/>
        <img class="lazy" data-original="../static/build/images/stockpile-dashboard-3.png" alt="Dashboard Stock Search" width="100%"/>
        <img class="lazy" data-original="../static/build/images/stockpile-dashboard-4.png" alt="Dashboard Add Company" width="100%"/>
        <img class="lazy" data-original="../static/build/images/stockpile-dashboard-5.png" alt="Dashboard Fund Transfer" width="100%"/>
        <img class="lazy" data-original="../static/build/images/stockpile-dashboard-6.png" alt="Dashboard Pending Transactions" width="100%"/>
        <p> During the next several crits with the CEO and VP of Engineering, it was determined that the scale of this project had ballooned so much that more effort needed to be spent on determining the engineering feasibility before moving forward with design decisions. I handed off my designs to our engineers, who began developing the backend of the stock dashboard and exploring front-end libraries, while I shifted gears to work on other front-end tasks to support the team.</p>
    </div>
</div>
 <ul class="subproject-container">
    <li><a href="../" class="subproject-link">Back to Home</a></li>
    <li><a href="/project/ghc" class="subproject-link">Next Project - Grace Hopper</a></li>
</ul>
{% endblock %}